.input-nc {
    display: block;
    padding: 13px;  
    width: 85%;
    font-size: 15px;
    margin: 0 auto;
    outline: none;
}

.border-nc {
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-top: 1px solid #0585FB;
    border-bottom: 1px solid #0585FB;
    height: 35px;   
}

.nc-nombre { 
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #0585FB; 
    height: 30px;
}

.nc-ip {
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid #0585FB;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.np-border {
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-top: 1px solid #0585FB;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 35px;
}

.modal-title {
    margin: 0 auto;
}
