.table-container {
    width: 80%;
    margin: 100px auto; 

    .table-header {
        height: 76px;
        background-color: #639ECA;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .table-footer {
        height: 76px;
        background-color: #639ECA;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    table {
        width: 100%;
        background-color: white;
        margin-top: 0;

        thead {
            

            th, td {
                height: 60px;
            }
        }

        tbody {
            font-size: 15px;
            border-top: 1px solid rgb(209, 209, 209);

            th, td {
                width: auto;
                text-align: center;
                height: 60px;
            }

            .edit {
                background: transparent;
                border: none;
                font-size: 20px;
                outline: none;
            }

            .delete {
                background: transparent;
                border: none;
                font-size: 20px;
                outline: none;   
            }

            .nom {
                width: 270px;
                text-align: left;
            }

            th {
                font-weight: bold;
                border-top: 1px solid rgb(230, 230, 230);
            }

            td {
                border-top: 1px solid rgb(230, 230, 230);
            }
        }

        .hcenter {
            color: #000000;
            text-align: center;
        }
    }
}