$primary-font: 'Poppins';
$second-font: 'Roboto';


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2D70B9;
$navyblue: #0585FB;
$purpleblue: #3126AB;
$light-blue: #E8F1FD;
$bluelilac: #639ECA;
$grey: #EAEAEA;
$black-grey: #D9D9D9;
$black: #353535;
$black-b: #000000;
$border: #C6C6C6;
$green: #84EC7B;
$green-hue: #67A562;
$red: #FC9999;
$passion-red: #FF0000;
$white: #FFFFFF;
$filter: #6994C3;
